body {
    font-family: 'Franklin Gothic', sans-serif;
  }
  
  .pokemon-app {
    background-color: #ffd000;
    padding: 20px;
  }
  
  .pokemon-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Update to center */
    flex-wrap: wrap;
  }
  
  .pokemon-logo {
    height: 200px;
    margin-right: 10px;
  }
  
  .pokemon-title {
    font-size: 36px;
    font-family: 'Franklin Gothic', sans-serif;
    margin-bottom: 5px; /* Reduce margin */
  }
  
  .pokemon-search {
    display: flex;
    align-items: center;
    justify-content: center; /* Update to center */
    margin-bottom: 10px; /* Reduce margin */
  }
  
  .pokemon-input {
    padding: 10px;
    margin-right: 10px;
  }
  
  .pokemon-button {
    padding: 10px 20px;
  }
  
  .pokemon-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .pokemon-card {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .pokemon-name {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic', sans-serif;
  }
  
  .pokemon-image {
    height: 150px;
  }
  
  .pokemon-info {
    margin-bottom: 5px;
    font-family: 'Lucida Console', monospace;
  }
  
  .pokemon-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  